name: main
on:
  - push
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - lts/*
          - latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run test
